h1 {
    background-color: teal;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 10px; 
}



.header {
    overflow: hidden;
}

.footer {
    background-color: teal;
    width: 100%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#headerimage {
    float: right;
}