h1 {
    background-color: teal;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 30px; 
}

/*.header {
    background-color: teal;
    width: 100%;
    padding: 30px;
    margin:0 auto;
}*/

#headerimage {
    float: right;
}