h1 {
    /*background-color: #134d55c9;*/
    color: gray;
    height: 50px;
    width: 100%;
    text-align: center;
    /*padding: 50px;*/ 
}

.header {
    background-color: teal;
    width: 100%;
    padding: 30px;
    margin:0 auto;
}

#headerimage {
    float: right;
}